<div class="flex-container">
    <p>CARD GAME SCORE CALCULATOR</p>
    <p>
        Select a number of cards or enter your favorite cards in the box
    </p>

    <input
        #cardInput
        type="text"
        maxlength="3"
        (input)="captureInput(cardInput.value)">

    <div class="cards">
        <ng-container *ngFor="let cardPlay of cardList">
            <card-game-card
                (cardToggle)="handleCardToggle($event)"
                [card]="cardPlay.card"
                [suit]="cardPlay.suit">
            </card-game-card>
        </ng-container>

    </div>
</div>
