<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8e07d7ba-61b8-419a-b8b0-5096153a10e7/resourceGroups/card-api/providers/Microsoft.Web/sites/CardGameAPI2023</ResourceId>
    <ResourceGroup>card-api</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://cardgameapi2023.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://cardgameapi2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$CardGameAPI2023</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>